
.animate{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
}

.animate1{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    position: absolute;
    margin-left: 93%;
}

/* .unboxed{
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: #efcca7;
    text-decoration-style: wavy;
} */

.hero-section{
    margin-top: 6%;
    margin-bottom: 3%;
    background: url("../images/bg-img.png");
}

.hero-intro{
    color: #49101F;
    font-weight: bold;
}

.hero-header{
    color: #211C16;
    font-weight: 900;
}

.hero-paragraph{
    color: #080705;
    opacity: 0.6;
}

button.shop-now{
    display: block;
    background-color: #EDE7E9;
    padding: 15px 35px;
    border-radius: 7px;
    /* border: 1px solid #1A060B; */
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    animation: fadeIn;
    animation-duration: 3s; /* don't forget to set a duration! */
}

button.shop-now:hover{
    background-color: #080705;
    color: #fff;
    animation: pulse;
    animation-duration: 2s;
}

.statistics{
    font-weight: bold;
    font-size: 40px;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    margin-top: 15%;
}

.stats-p{
    font-size: 14px;
    display: block;
}

.zanotti{
    /* height: 70%; */
    display: block;
    margin: auto;
    object-fit: contain;
    margin-top: -12%;
}

.brands{
    background-color:  #A8927A;
}

.brands-header{
    text-align: center;
    margin: 2% 0 ;
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

.brand-img{
 display: block;
 margin: auto;
 height: 70%;
}

.shoe-collection{
    margin-top: 3%;
}

.dress-shoe-header{
    color: #655849;
    margin-bottom: 20px;
}


.collection-shoe{
    border: 7px solid #1B1B1B;
    border-radius: 18px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.collection-container{
    border-radius: 13px 10px 10px 10px;
    -webkit-border-radius: 13px 10px 10px 10px;
    -moz-border-radius: 13px 10px 10px 10px;
    padding: 10px;
    border-radius: 10px;
    /* border-color: #efcca7; */
    border: 1px solid #efcca7;
}
#berlutti, #DandG, #DandG1, #TomFord, #nike1, #nike, #alexander-mcqueen{
    background-color:#564739;
    color: #fff;
    border-radius: 50%;
    padding: 2px 8px;
}

.shoe-name{
    color:  #211C16;
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

.shoe-price{
    color: #A8927A;
    font-size: 16px;
    font-weight: bold;
}

.collection-details{
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 0;
}

.user-selection{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.quantity{
    font-size: 20px;
}

.add-to-bag{
    background-color: #EDE7E9;
    color: #49101F;
    border: none;
    border-radius: 7px;
    padding: 5px 20px;
}
.arrivals{
    background-color: #A8927A;
    margin-top: 5%;
}

.arrival-header{
    padding-top: 3%;
}
.arrival-features{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}

.arrival-img{
    /* height: 250px;
    width: 250px; */
    display: block;
    margin: auto;
}

.arrivals-container{
   margin-top: 3%;
 
}

.arrivals-details{
    border-radius: 5px;
    background-color: #fff;
    padding: 20px;
}

.arrival-title{
    color: #564739;
    margin-top: 4%;
    font-weight: bold;
    width: 90%;
}

.arrival-details{
    color: #555555;

}

.add-to-bag-arrival{
        background-color: #EDE7E9;
        color: #49101F;
        border: none;
        border-radius: 7px;
        padding: 5px 10px;
        margin-right: 10px;
}

.arrival-price{
    display: flex;
    justify-content: space-between;
    padding: 0 40px 0 0;
    margin-bottom: 20px;
}

.footie-header{
    font-weight: bold;
    margin-bottom: 2%;
}

.dress-shoe{
    color: #2B241C;
}

.alexander-png{
    border-radius: 100%;
    display: block;
    margin: auto;
}

.berluti{
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 0.2em;
    font-weight: bold;
}

.shopping{
    object-fit: cover;
    height: 80%;
}

.why-choose-us{
    color: #5F4F3F;
    margin: 5% 0;
}

.why-patronize-header{
    font-size: 35px;
    margin-bottom: 5%;
}

.why-patronize-p{
    font-size: 18px;
    letter-spacing: 0.1rem;
}

.features{
    font-size: 20px;
}

.feature-icon{
    color:#49101F;
    margin-right: 5px;
}
/* Footer */
.footer{
    margin-top: 7%;
}
.brand-details{
    flex: 2;
}
.about{
    flex: 2;
}
.product{
    flex: 1;
}
.brand-details p{
    padding-right: 50px;
}

/* Sneakers Collection */
.sneakers-collection{
    background-image: url("../images/bg-img.png");
}

/* Discount */
.discount{
    margin-top: 5%;
    background-color: #C7B5BA;
}

.discount-paragraph{
    margin-top: 20%;
}

.discount-container{
    padding: 5% 0;
}

.discount-2{
    display: block;
    margin: auto;
}

.discount-img{
    height: 20%;
    width: 60%;
    display: block;
    margin: auto;
}

.discount-btn{
    background-color: #C7B5BA;
    color: #49101F;
    border: 2px solid #49101F;
    border-radius: 5px;
    padding: 10px 20px;
    display: block;
    margin: auto;
}