@media(max-width: 1200px){
  body{
    font-family: 'Karla', sans-serif;;
  }

  .collection-shoe{
   width: 280px;
   height: 280px;
}

  /* a{
    color: #fff;
  } */

  .hero-section{
        text-align: center;
  }
    
  .hero-intro {
      font-weight: 900;
      font-size: 18px;
  } 

  .hero-header{
    letter-spacing: 0.2rem;
    line-height: 1.2;
    text-transform: capitalize;
  }

  .hero-paragraph{
    font-size: 14px;
    letter-spacing: 0.05rem;
  }

  button.shop-now{
    margin: auto;
  }

  .statistics span{
    display: none;
  }
  .alexander-png{
    margin-top: 5%;
  }

  .discount{
    text-align: center;
  }

  .features{
    flex-direction: column;
  }

  .why-us{
    text-align: center;
  }

  .footer{
        flex-direction: column;
        flex-wrap: wrap;
        text-align: center;
  }
  .brand-details{
    text-align: center;
    width: 100%;
  }
}