body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration: none;
}

#berlutti, #DandG, #DandG1, #TomFord, #nike1, #nike, #alexander-mcqueen, #gucci,#Balenciaga, #Nike2{
  background-color:#564739;
  color: #fff;
  border-radius: 50%;
  padding: 2px 8px;
}

/* Navbar */
.navbar{
  background-color: #E4DDD6;
  padding: 20px;
}

.nav-home{
  font-weight: 600;
  /* border-bottom: 2px solid #564739; */
  line-height: 1.25;
}

.nav-home:hover{
  text-decoration: dotted;
  transition-duration: 2s;

}

.navbar-toggler{
  border: none;
  font-size: 14px;
}

.nav-link:hover{
    opacity: 0.6;
}

.navbar-nav{
   margin: auto;
}

.logo{
  width: 100px;
}

.nav-cart{
  cursor: pointer;
}

/* Shoe Container Component */
.shoe-container{
  border-radius: 5px;
  background-color: #EEEEEE;
  padding: 20px;
  margin-bottom: 15px;
}

.shoe-img{
  height: 200px;
  width: 200px;
  display: block;
  margin: auto;
  object-fit: cover;
}

.shoe-details{
  color: #555555;
}

.shoe-title{
  color: #564739;
  margin-top: 4%;
  font-weight: bold;
  width: 90%;
}

.shoe-prices{
  display: flex;
  justify-content: space-between;
  padding: 0 40px 0 0;
  margin-bottom: 20px;
}

/* Product Component */
.product-header{
  text-align: center;
 border-radius: 100%;
 padding: 20px;
}
.product-page{
  background-color: #F3F3F3;
}
.dress-shoe{
  color: #5F4F3F;
  text-decoration: underline;
  text-decoration-color: #5F4F3F;
  letter-spacing: 0.02rem;
  margin-top: 5%;
}
.shoe-header{
  font-weight: bold;
  font-style: italic;
  text-transform: capitalize;
  color: #080705;
}
.shoe-price{
  color: #5F4F3F;
  font-weight: bold;
}
.shoe-text{
  color: #555555;
}
.shoe-size-container{
  width: 30%;
}
.shoe-size:focus{
  background-color: #867562;
  color: #fff;
}
.shoe-size{
  border-radius: 7px;
  border: 1px solid #E4DDD6;
}
.quantity{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.add-to-cart{
  border-radius: 7px;
  border: 2px dotted #49101F;
  background-color: #EDE7E9;
  padding: 10px;
  font-size: 14px;
  color: #49101F;
  letter-spacing: 0.02rem;
}
.order-details{
  display: flex;
  justify-content: space-between;
  width: 50%;
  flex-wrap: wrap;
  cursor: pointer;
  margin-top: 5%;
}
.description-text:hover{
  text-decoration: underline;
  text-decoration-color: #5F4F3F;
  text-decoration-thickness: 3px;
  border: none;
}
.detail-container{
  padding: 5px 10px;
  color: #555555;
  margin-top: 1%;
}
.img-product{
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  margin-top: 15%;
}

/* Footer */
.brand-details{
  flex: 1;
}
.footer-p{
  font-weight: bold;
  padding-right: 50px;
}
.footer-content{
  display: flex;
  flex:2;
  margin-top: 5%;
}
.about{
  font-weight: bold;
  flex-direction: column;
  text-align: left;
}
.product{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  text-align: left;
}
/* Media */
@media(max-width:1200px){
  .footer-p{
    text-align: left;
    padding: 0;
  }
}