body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

.navbar{
  background-color: #E4DDD6;
  padding: 20px;
}

.nav-home{
  font-weight: 600;
}

.nav-home:hover{
  text-decoration: dotted;
  transition-duration: 2s;

}

.navbar-toggler{
  border: none;
  font-size: 14px;
}

.nav-link:hover{
    opacity: 0.6;
}

.navbar-nav{
   margin: auto;
}

.logo{
  width: 100px;
}

.nav-cart{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
