body {
  margin: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.navbar{
  background-color: #E4DDD6;
  padding: 20px;
}

.navbar-nav{
   margin: auto;
}

.logo{
  width: 100px;
}

.nav-cart{
  cursor: pointer;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
